<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.DotMemory.dotMemoryUnit.Common" version="102.0.20150727.111757" targetFramework="net40" />
  <package id="JetBrains.DotMemoryUnit" version="1.0.20150408.170258" targetFramework="net40" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Framework" version="102.0.20150727.93410" targetFramework="net40" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interface" version="102.0.20150727.93410" targetFramework="net40" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop" version="102.0.20150727.93410" targetFramework="net40" />
  <package id="JetBrains.Profiler.Kernel.Windows.Api" version="102.0.20150727.95115" targetFramework="net40" />
  <package id="Wave" version="2.0.0.0" targetFramework="net40" />
</packages>